<div class="jumbotron">
<div *ngIf="!editMode" class="row">
  <div class="col-xs-12 btn-group">
    <div class="upper-buttons">
    <label class="btn btn-primary active">
      <input type="radio" [(ngModel)]="inputMethod" value="manual" name="inputMethod" id="option1" autocomplete="off" checked> Manual Input
    </label>
    <label class="btn btn-primary">
      <input type="radio" [(ngModel)]="inputMethod" value="scrape" name="inputMethod" id="option2" autocomplete="off"> Scrape
    </label>
    </div>
  </div>
</div>
<div *ngIf="inputMethod==='scrape' && !editMode" class="row">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="scrapeURL">Enter recipe URL</label>
        <input type="text" [(ngModel)]="scrapeURL" class="form-control" id="scrapeURL" pl>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <button class="btn btn-success" (click)="onScrape()">Scrape</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="inputMethod==='manual' || editMode" class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid" >Save </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text"
                     name="text"
                     id="name"
                     formControlName="name"
                     class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input type="text"
                     name="text"
                     id="imagePath"
                     formControlName="imagePath"
                     class="form-control"
                     #imagePath
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img [src]="imagePath.value" class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                type="text"
                name="description"
                id="description"
                formControlName="description"
                class="form-control"
                rows="6"
              >
              </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" formArrayName="ingredients">
            <label>Ingredients</label>
            <div class="row"
                 *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls;
                 let i = index"
                 [formGroupName]="i"
                 style="margin-top:10px;"
            >
              <div class="col-xs-8">
                <input type="text"
                       class="form-control"
                       formControlName="name"
                >
              </div>
              <!--<div class="col-xs-2">-->
                <!--<input type="number"-->
                       <!--class="form-control"-->
                       <!--formControlName="amount"-->
                <!--&gt;-->
              <!--</div>-->
              <div class="col-xs-2">
                <button type="button"
                        class="btn btn-danger"
                        (click)="onDeleteIngredient(i)"
                >x</button>
              </div>

            </div>
          </div>
        </div>
        <hr>

          <div class="row">
            <div class="col-xs-12" formArrayName="cookmethod">
              <label>Method</label>
              <div class="row"
                   *ngFor="let methodCtrl of recipeForm.get('cookmethod').controls;
                 let i = index"
                   [formGroupName]="i"
                   style="margin-top:10px;"
              >
                <div class="col-xs-3">
                  <input type="number"
                         class="form-control"
                         formControlName="stepNo"
                  >
                </div>
                <div class="col-xs-7">
                <input type="text"
                class="form-control"
                formControlName="explanation"
                >
                </div>
                <div class="col-xs-2">
                  <button type="button"
                          class="btn btn-danger"
                          (click)="onDeleteMethod(i)"
                  >x</button>
                </div>

              </div>
            </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-success" (click)="onAddStep()">Add Step</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
</div>
