.upper-buttons {
  margin-bottom:1em;
}

.example-url {
  background-color: #cdeb8e;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.black-button{
  background-color:#000000!important;
  color:#ffffff!important;
}

