.navbar {
  /*font-family: 'Passion One', cursive;*/
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-colors {
  /*background-color: #e3f2fd;*/
  background-color: white;
}

a{
  color: black!important;
}


.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.logo {
  font-size:5.5em;
  font-weight:500;
  display: inline-block;
  font-family: 'Dancing Script', cursive;
  /*margin-bottom: 10px;*/
}

.faded-hr {
  margin: 10px 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

@media screen and (max-width: 420px){

  .ul {
    margin-bottom: 0px!important;
  }
  .navbar{
    text-align: center;
  }
  .logo {
    font-size : 3em;
    font-weight: 500px;
  }
  #banner {
    /*border-bottom: 1px solid lightblue;*/
    margin-bottom: 10px;
  }
}

.search-padding{
  padding-top: 1em;
}




