.navbar {
  font-family: 'Passion One', cursive;
  font-size: 1.2em;
  text-transform: uppercase;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}


.logo {
  font-size:3em;
  display: inline-block;
  font-family: 'Dancing Script', cursive;

}

.search-padding{
  padding-top: 1em;
}
