<div class="container" id="banner">
  <div class="row">
    <div class="col-md-8 col-xs-12 ">
      <span class="logo">Forking Grate Recipes</span>
    </div>
  </div>
</div>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/register']">Register</a></li>
      <li *ngIf="!isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/login']">Login</a></li>
      <li *ngIf="isLoggedIn()"><a href="#" (click)="onLogoutClick()">Logout</a></li>
      <li *ngIf="isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/profile']">Profile</a></li>
    </ul>
  </div>
</nav>
