<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath"
         alt="" class="img-responsive"
         style="max-height: 300px;"
    >
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-inverse">
      <thead>
      <tr>
        <!--<th>Serves</th>-->
        <th>Prep Time</th>
        <th>Cook Time</th>
        <th>Total Time</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{recipe.cooktime.prepTime}} mins</td>
        <td>{{recipe.cooktime.cookTime}} mins</td>
        <td>{{recipe.cooktime.cookTime + recipe.cooktime.prepTime}} mins</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <button type="button"
              class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{recipe.description}}</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <h4>Ingredients</h4>
    <ul class = "list-group">
      <li class = "list-group-item"
          *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Method</h4>
    <ul class = "list-group">
      <li class = "list-group-item"
          *ngFor="let method of recipe.cookmethod">
        Step {{method.stepNo}}. {{ method.explanation}}
      </li>
    </ul>
  </div>
</div>
